{% extends 'base.html' %}

{% block sidebar_content %}
{% include '_companies_bar.html' %}
{% endblock %}

{% block content %}

<h1>Companies page</h1>

    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Total orders value</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
{% for company in object_list %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ company.name }}</td>
          <td>
              {% if company.order_set.last.sum_quantity %}
              {{ company.order_set.last.sum_quantity }}
              {% else %}0.00
              {% endif %}
              <i class="fa fa-eur" aria-hidden="true"></i></td>
          <td>
              <a class="btn btn-light" href="{% url 'mycrm:detail' company.pk %}">Details <i class="fa fa-address-card-o" aria-hidden="true"></i></a>
              <!--<a class="btn btn-primary" href="{% url 'mycrm:detail' company.pk %}" role="button">Details</a> -->
              <a class="btn btn-primary" href="{% url 'mycrm:company_edit' company.pk %}" role="button"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
              <a class="btn btn-primary" href="{% url 'mycrm:company_delete' company.pk %}" role="button"><i class="fa fa-trash" aria-hidden="true"></i></a>

          </td>
        </tr>
{% endfor %}
      </tbody>
    </table>



{% endblock %}