{% extends 'base.html' %}

{% block sidebar_content %}
{% include '_companies_bar.html' %}
{% endblock %}

{% block content %}

<h1>{{company}}</h1>

<img height="120" width="120" src="{{company.picture}}"/>

<p>{{company}}</p>
<p>{{company.description}}</p>
<p>{{company.ranking_position}}</p>
<p>Number of employes: {{ company.businesscard_set.count }}</p>

{% for card in company.businesscard_set.all %}

    <li>{{ card }}
    {{ card.last_name }}</li>
    <i class="fa fa-phone" aria-hidden="true"></i>
    {{ card.phone }}
{% endfor %}



{% endblock %}