

{% extends "base_layout.html" %}
{% load widget_tweaks %}

{% block basecontent %}

<div class="container">
  {% if form.non_field_errors %}
  <div class="alert alert-dark" role="alert">{{ form.non_field_errors }}</div>
  {% endif %}
  <div class="card card-login mx-auto mt-5">
    <div class="card-header">Reset password</div>
    <div class="card-body">
      <form method="post">
        {% csrf_token %}
        
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          {{ form.email|add_class:"form-control" }}
        </div>
        <button type="submit" class="btn btn-primary btn-block">Send email</button>
      </form>
      <div class="text-center">
      </div>
    </div>
  </div>
</div>

{% endblock %}