{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block breadcrumb %}

<li class="breadcrumb-item"><a href="{% url 'mycrm:home' %}">Home</a></li>
<li class="breadcrumb-item active">User</li>
<li class="breadcrumb-item active">Delete</li>

{% endblock %}

{% block content %}

<div class="container">
        <div class="card mx-auto mt-5">
          <div class="card-header">{{ page_title }}</div>
          <div class="card-body">
                <p>{{ page_text }}</p>
                <form method="post" action="" id="id-exampleForm">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input type="submit" value="Delete" class="btn btn-danger"/>
                    </form>
                <div class="text-center">
            </div>
          </div>
        </div>
      </div>
    
{% endblock %}