{% extends 'base.html' %}

{% block sidebar_content %}
<ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link active" href="#"> Companies list <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"> Add new company <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Add new contact</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="#">Sort by ranking</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Export</a>
    </li>
 </ul>
{% endblock %}

{% block content %}

<h1>Companies page</h1>

{% for company in object_list %}
    <li>{{ company.id }} {{ company.name }} rank = {{company.ranking_position}}</li>
{% endfor %}


{% endblock %}