{% extends 'base.html' %}


{% block sidebar_content %}
<ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link" href="#">Users</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'mycrm:registeruser' %}">Register new user</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="#">Download users list</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Export</a>
    </li>
 </ul>
{% endblock %}


{% block content %}

<p>Add user form</p>

<form action="/mycrm/user/register" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
</form>


{% endblock %}