{% load staticfiles %}


{% comment %} <div class="card mb-3">
    
    <div class="container-fluid jumbotron">
        <div>
            <h2 class="text-center">Company name: </h2>
            <h3 class="text-center">{{ company }}</h3>
            <h2 class="text-center">Logo:</h2>
            <div class="text-center" style="padding-bottom: 22px; padding-top=22px;">
                <img class="img rounded text-center" onerror="this.src='{% static 'img/no_image.png' %}';"
                alt="ghf"
                height="200"
                src="{{ company.picture }}"/>
            </div>
            <p>
                <h2 class="text-center">About company:</h2>
                <h3 class="text-center">{{ company.description }}</h3>
            </p>
            <h2 class="text-center">Number of employees</h2>
            <h3 class="text-center">{{ company.businesscard_set.count }}</h3>
        </div>
    </div>   
</div> {% endcomment %}


  <!-- tab header -->
  <div class="card mb-3">
    <div class="card-header"><i class="fa fa-home h1"></i> About:</div>
    
    <div class="card-body graybg container-fluid">
      
      <!-- logo -->
        <div class="card mylogo">
          <div class="card-header">Company Logo:</div>
          <div class="card-body mylogo2">
            <img class="img rounded text-center" onerror="this.src='{% static 'img/no_image.png' %}';"
            alt="ghf"
            width="230"
            src="/media/{{ company.picture }}"/>
              source={{ company.picture }}
         </div>
          </div>

        
        <!-- description -->
          <div class="card mycompany">
            <div class="card-header">Company description:</div>
            <div class="card-body text-justify">
                {{ company.description }}            
            </div>
          </div>


          <!-- nuber of employers -->
          <div class="card cardEmployers">
            <div class="card-header">Number current of employers:</div>
            <div class="card-body mylogo2 text-justify">
              Number of company contacts is <strong>{{ company.businesscard_set.count }}</strong>.
            </div>
          </div>
        
      </div>
      </div>