{% load staticfiles %}


<!-- Table with contacts -->
<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i> Active users in CRM system:</div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>contact name</th>
                            <th>phone number</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>#</th>
                            <th>contact name</th>
                            <th>phone number</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for card in company.businesscard_set.all %}
                        <tr class="active">
                            <td>{{ forloop.counter }}</td>
                            <td><a class="btn btn-light" href="{% url 'mycrm:edit_contact' card.pk %}"><i
                                class="fa fa-address-card-o" aria-hidden="true"></i></a>
                                <a class="btn btn-primary" href="{% url 'mycrm:delete_contact' card.pk %}"
                                role="button"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                {{ card.name }} {{ card.last_name }} </td>
                                <td>{{ card.phone }}</td>
                            </tr>
                            {% endfor %}
                            
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>
        